@inherits LayoutComponentBase

<PageTitle>TaskManager.Web2</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div style="position: fixed; bottom: 0; right: 0; font-size: 10px; color: #666; padding: 2px 5px; background: rgba(255,255,255,0.8);">
    v@(System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString())
</div>
