@page "/logout"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

<PageTitle>Logged Out - TaskManager</PageTitle>

<h1>You have been logged out</h1>

<p>Thank you for using TaskManager.</p>

<p><a href="/">Login again</a></p>